$white: #FFFFFF;
$purple: #6703FF;
$grayPurple: #BDA6DC;
$navy: #0B182B;

body{
    margin: 0 auto;
    width: 100%;
    height: 100%;

    background-image: url(./keyboard.jpg);
    background-size: cover;
}